* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  background-color: rgb(29, 29, 29);
}

body {
  overflow: auto;
  margin: 0;
  height: 100%;
  padding: 0;
}

.page {
  background-color: rgb(29, 29, 29);
  height: 100vh;
  padding-top: 100px;
  margin-top: -100px;
}

.title_image {
  position: relative;
  height: 70vh;
  width: 70vh;
  float: right;
  margin-right: 120px;
  margin-top: 120px;
  filter: saturate(105%);
  transition: 0.8s;
  transform: translateY(0);
  z-index: 10;
}

.title_image:hover {
  filter: saturate(125%);
}

.title_page {
  background: #262626;
  top: 0;
  left: 0;
  height: 70vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.header {
  overflow: hidden;
  background-color: rgb(29, 29, 29);
  background-color: rgba(29, 29, 29, 0.5);
  border-bottom: 1px solid #171717;
  padding-left: 30px;
  z-index: 100;
  white-space: nowrap;
  position: fixed;
  width: 100vw;
  height: 50px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.header .links {
  font: 15px Montserrat, sans-serif;
  float: right;
  display: flex;
  flex: 0 0;
  margin-right: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header .links a {
  font: 15px Montserrat, sans-serif;
  color: white;
  text-decoration: none;
  padding-left: 30px;
}

.header .name {
  font: bold 20px Montserrat, sans-serif;
  margin-bottom: 20px;
  float: left;
  color: white;
  text-decoration: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header img {
  height: 27px;
  width: 27px;
  float: right;
}

.gradient {
  position: relative;
  height: 30vh;
  background: rgb(38, 38, 38);
  background: -moz-linear-gradient(180deg, rgba(38, 38, 38, 1) 0%, rgba(29, 29, 29, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(38, 38, 38, 1) 0%, rgba(29, 29, 29, 1) 100%);
  background: linear-gradient(180deg, rgba(38, 38, 38, 1) 0%, rgba(29, 29, 29, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626", endColorstr="#1d1d1d", GradientType=1);
}

.title-name-div {
  position: relative;
  padding-top: 200px;
  padding-left: 100px;
  z-index: 0;
}

.name-title:nth-child(1) {
  font: bold 70px Montserrat, sans-serif;
  color: #ff3d0d;
  width: fit-content;
  position: relative;
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: -webkit-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  height: 100px;
  background-position: left 19px top 40px;
  white-space: pre;
}

.name-title:nth-child(2) {
  font: bold 70px Montserrat, sans-serif;
  color: #ff3d0d;
  width: fit-content;
  position: absolute;
  top: 290px;
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: -webkit-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background-position: left 19px top 0px;
  height: 90px;
  white-space: pre;
}

.subheading {
  font: bold 30px Montserrat, sans-serif;
  position: relative;
  top: 100px;
  padding-left: 10px;
  color: white;
}

.title {
  height: 75px;
  width: fit-content;
  font: bold 60px Montserrat, sans-serif;
  color: #ff3d0d;
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: -webkit-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background-position: left 19px top 40px;
  margin: 0 auto;
}

.about {
  text-align: center;
  transform: translateY(0);
  background-color: rgb(29, 29, 29);
}

.about-text {
  text-align: left;
  width: 370px;
  color: white;
  font: 300 18px Lato, sans-serif;
}

.about-image {
  height: 40vh;
  width: 40vh;
  margin-right: 100px;
}

.about-me-section {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
