* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background-color: #1D1D1D;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #1D1D1D;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
  padding: 0;
}

.page {
  background-color: #1D1D1D;
  height: 100vh;
  padding-top: 100px;
  margin-top: -100px;
}

#front-page {
  display: flex;
  flex-direction: row;
  background: #262626;
}

#title-image {
  position: relative;
  height: 70vh;
  width: 70vh;
  float: right;
  margin-right: 120px;
  margin-top: 120px;
  filter: saturate(105%);
  transition: 0.8s;
  transform: translateY(0);
  z-index: 10;
  margin-left: -100px;
}

#title_image:hover {
  filter: saturate(125%);
}

#title-page {
  top: 0;
  left: 0;
  height: 70vh;
  width: 100vw;
  padding: 0;
}

.header {
  overflow: hidden;
  background-color: #1D1D1D;
  background-color: rgba(29, 29, 29, 0.5);
  border-bottom: 1px solid #171717;
  padding-left: 30px;
  z-index: 100;
  white-space: nowrap;
  position: fixed;
  width: 100vw;
  height: 50px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.header .links {
  font: 15px Montserrat, sans-serif;
  float: right;
  display: flex;
  flex: 0 0;
  margin-right: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header .links a {
  font: 15px Montserrat, sans-serif;
  color: white;
  text-decoration: none;
  padding-left: 30px;
}

.header .name {
  font: bold 20px Montserrat, sans-serif;
  margin-bottom: 20px;
  float: left;
  color: white;
  text-decoration: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header img {
  height: 27px;
  width: 27px;
  float: right;
}

.gradient {
  position: relative;
  height: 30vh;
  display: block;
  background: rgb(38, 38, 38);
  background: -moz-linear-gradient(180deg, rgba(38, 38, 38, 1) 0%, rgba(29, 29, 29, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(38, 38, 38, 1) 0%, rgba(29, 29, 29, 1) 100%);
  background: linear-gradient(180deg, rgba(38, 38, 38, 1) 0%, rgba(29, 29, 29, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#262626", endColorstr="#1d1d1d", GradientType=1);
}

.title-name-div {
  position: relative;
  padding-top: 200px;
  margin-left: 10vw;
  z-index: 0;
}

.name-title:nth-child(1) {
  font: bold 70px Montserrat, sans-serif;
  color: #ff3d0d;
  width: fit-content;
  position: relative;
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: -webkit-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  height: 100px;
  background-position: left 19px top 40px;
  white-space: pre;
}

.name-title:nth-child(2) {
  font: bold 70px Montserrat, sans-serif;
  color: #ff3d0d;
  width: fit-content;
  position: absolute;
  top: 290px;
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: -webkit-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background-position: left 19px top 0px;
  height: 90px;
  white-space: pre;
}

.subheading {
  font: bold 30px Montserrat, sans-serif;
  position: relative;
  top: 100px;
  padding-left: 10px;
  color: white;
}

.title {
  height: 75px;
  width: fit-content;
  font: bold 60px Montserrat, sans-serif;
  color: #ff3d0d;
  background: rgb(56, 56, 56);
  background: -moz-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: -webkit-linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background: linear-gradient(180deg, rgba(56, 56, 56, 1) 0%, rgba(56, 56, 56, 1) 100%) no-repeat;
  background-position: left 19px top 40px;
  margin: 0 auto;
}

.about {
  text-align: center;
  transform: translateY(0);
  height: 100%;
}

.about-text {
  text-align: left;
  width: 370px;
  color: white;
  font: 300 18px Lato, sans-serif;
}

.about-image {
  height: 40vh;
  width: 40vh;
  margin-right: 50px;
}

.about-me-section {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  margin-top: -100px;
  padding-top: 90px;
  height: 100%;
}

.contact-form {
  width: fit-content;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  width: 500px;
}

.entry {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 20px;
  flex: 0 0 245px;
}

.entry-text {
  margin-bottom: 10px;
  color: white;
  font: 400 17px Montserrat, sans-serif;
}

.entry-input {
  height: 35px;
  background-color: #1D1D1D;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid;
  color: white;
  border-radius: 2px;
  padding-left: 7px;
}

#message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#entry-container {
  display: flex;
  flex-direction: row;
}

#send-button {
  margin: 0 auto;
  width: 110px;
  height: 40px;
  border: 2px solid;
  color: white;
  background-color: #1D1D1D;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: 0.5s;
}

#send-button:hover {
  background-color: rgb(10, 10, 10);
  background-color: rgba(0, 0, 0, 0.5);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#message-textarea {
  height: 250px;
  background-color: #1D1D1D;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid;
  color: white;
  border-radius: 2px;
  padding: 7px;
}
